# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore macOS files
.DS_Store

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore build directories
dist/
build/
.vercel
